[PATHS]

### root is passed in by the calling script

logs_path:	%(root_path)s\logs

data_path:	%(root_path)s\data

csv_document_path = %(data_path)s\benefit_category_csv

word_document_path = %(data_path)s\benefit_category_word_docs

### file paths

#
# name of Ecosystems Goods and Services JSON file
#
ecosystem_goods_and_services_json = %(data_path)s\ecosystem_goods_and_services.json

#
# name of Ecosystems Goods and Services Literature review JSON file
#
egs_literature_json = %(data_path)s\egs_literature.json

#
# name of 'sankey' Ecosystems Goods and Services JSON file
#
ecosystem_goods_and_services_sankey_json = %(data_path)s\ecosystem_goods_and_services_sankey.json


[NORMALIZE_CATEGORIES]
Biodiversity Conservation: 				Biodiversity
Clean Air: 								Clean Air
Clean and Plentiful Waters: 			Clean and Plentiful Waters
Climate Stabilization: 					Climate_Stabilization
Food, Fuel, and Materials: 				Food_Fuel_and_Materials
Natural Hazard Mitigation: 				Natural Hazard Mitigation
Recreation, Culture, and Aesthetics: 	Recreation

[NORMALIZE_ECOSYSTEMS]
AGROECOSYSTEM: 				Agroecosystems
AGROECOSYSTEMS: 			Agroecosystems
ATMOSPHERE: 				Atmosphere
BARREN/ROCK AND SAND: 		Barren / Rock and Sand
CREATED GREENSPACE: 		Created Greenspace
ESTUARIES AND NEAR COASTAL MARINE: Estuaries and Near Coastal Marine
FORESTS: 					Forests
GRASSLANDS: 				Grasslands
GROUNDWATER: 				Groundwater
ICE AND SNOW: 				Ice and Snow
LAKES AND PONDS: 			Lakes and Ponds
OPEN OCEANS AND SEAS: 		Open Oceans and Seas
RIVERS AND STREAMS: 		Rivers and Streams
SCRUBLANDS/SHRUBLANDS: 		Scrublands / Shrublands
Scrublands/Shrublands: 		Scrublands / Shrublands
TUNDRA: 					Tundra
WETLANDS: 					Wetlands



[DEFAULTS]
log_level_choices: DEBUG,INFO,WARN,WARNING,ERROR,CRITICAL

log_level : DEBUG


