[PATHS]

### root is passed in by the calling script

logs_directory:	%(root)s\logs

data_directory:	%(root)s\data

### file paths

egs_custom_text_file = %(data_directory)s\egs_custom_text.config

egs_data_file = %(data_directory)s\ecosystem_goods_and_services.json
	
egs_literature_data_file = %(data_directory)s\egs_literature.json

#
# these are used to test running index.py on the command line
# see the section that tests 'GATEWAY_INTERFACE'
#
[TESTING]
benefit_category : Clean Air
ecosystem_type: Wetlands
contribution_pathway: Maintenance_of_Conditions
benefit_type: Driver
data_layer: Percent impervious area
